<h1>New message</h1>
<form method="POST" action="/new">
    <input class="input" name="author" type="text" placeholder="Author" required>
    <textarea class="textarea" name="message" placeholder="Add a message..." required></textarea>
    <button class="button">Submit</button>
</form>